---
layout: player
title: "Ch4mp"

name: "Ch4mp"
desc: "Competitive player since 2015. Xonotic beast. LawBreakers pro player"
born: "-"
games: "Xonotic, Quake"


discord_id: "bigbicepstime"
country_tag: "sk"
country_name: "Slovakia"
---
<div class="w3-auto w3-container">
    <div class="w3-row">
        <div class="w3-col l2 m2">
            <h1><%= data.players.ch4mp.name %></h1>
            <%= partial "partials/player/ch4mp/avatar" %>
            <div class="player-social">
                <a href="https://www.youtube.com/@bigbicepstime" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-lg fa-youtube" aria-hidden="true"></i>
                    <span class="sr-only">YouTube</span>
                </a>
                <a href="https://steamcommunity.com/id/bigbicepstime" target="_blank" rel="noopener noreferrer">
                    <i class="fab fa-lg fa-steam" aria-hidden="true"></i>
                    <span class="sr-only">Steam</span>
                </a>
                <div class="w3-tooltip mobile-tooltip w3-hide-small" style="display:inline">
                    <i class="fab fa-lg fa-discord" aria-hidden="true"></i>
                    <span class="sr-only">Discord</span>
                    <span style="position:absolute;left:40px;bottom:-25px;width:200px" class="w3-text w3-tag w3-padding w3-animate-opacity w3-round"><%= current_page.data.discord_id %></span>
                </div>
            </div>
            <div class="w3-tooltip mobile-tooltip" style="display:inline">
                <i class="fa-solid fa-2x fa-crown" style="color:#CD05E7;margin:5px;margin-left:0" aria-hidden="true"></i>
                <span class="sr-only">Drama Queen</span>
                <span style="position:absolute;left:-50px;bottom:-50px;width:200px" class="w3-text w3-tag w3-padding w3-animate-opacity w3-round">Drama Queen</span>
            </div>
            <div class="w3-tooltip mobile-tooltip" style="display:inline">
                <i class="fa-2x fa-solid fa-biohazard" style="color:#5ED729;margin:5px" aria-hidden="true"></i>
                <span class="sr-only">Toxic</span>
                <span style="position:absolute;left:-50px;bottom:-50px;width:200px" class="w3-text w3-tag w3-padding w3-animate-opacity w3-round">Toxic</span>
            </div>
        </div>

        <div class="w3-col l6 m6" style="margin-top:60px">
            
            <div class="w3-panel" style="background:#131316">
                <p>Competitive player since 2015. Xonotic beast.<br> LawBreakers pro player <i class="far fa-grin-tears" aria-hidden="true"></i></p>
            </div>
        </div>

        <div class="w3-col l4 m4">
            <table class="w3-table">
                <tr>
                    <td style="border-top:0 !important">
                        <b>Full Name:</b>
                    </td>
                    <td style="border-top:0 !important">
                        <b><%= data.players.ch4mp.full_name %></b>
                    </td>
                </tr>
                
                <tr>
                  <td><b>Born:</b></td>
                  <td><b><%= current_page.data.born %></b></td>
                </tr>

                <tr>
                    <td>
                        <b>Country:</b>
                    </td>
                    <td><%= data.players.ch4mp.country %></td>
                </tr>
                
                <tr>
                  <td><b>Games:</b></td>
                  <td><b><%= current_page.data.games %></b></td>
                </tr>

                <tr>
                  <td><b>Organization:</b></td>
                  <td><%= data.players.ch4mp.clan %></td>
                </tr>

                <tr>
                    <td>
                        <b>Trophies:</b>
                    </td>
                    <td>
                        <i class="fas fa-trophy trophy-gold" aria-hidden="true"></i>
                        <b>
                            <sup><%= data.players.ch4mp.trophies.gold %></sup>
                        </b>
                        <i class="fas fa-trophy trophy-silver" aria-hidden="true"></i>
                        <b>
                            <sup><%= data.players.ch4mp.trophies.silver %></sup>
                        </b>
                        <i class="fas fa-trophy trophy-bronze" aria-hidden="true"></i>
                        <b>
                            <sup><%= data.players.ch4mp.trophies.bronze %></sup>
                        </b>
                    </td>
                </tr>

            </table>

        </div>
        <!-- end of w3-col l4-->
    </div>
    <!-- end of w3-row-->
    <hr>

        
        <h2 class="w3-center">Highlight video</h2>
        <iframe src="https://www.youtube.com/embed/RzeSlw88s50" style="width:100%;height:640px" allowfullscreen title="ch4mp highlight video"></iframe>
        
        <hr>
            
        <h2 class="w3-center">Beef Brawl Series</h2>
        <table class="w3-table w3-bordered tourneys">
          <thead>
            <tr>
              <th>Event</th>
              <th class="w3-center">Game</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="width:90%">
                 <a href="/xonotic/beef-brawl/ch4mp-vs-jooton-10-aerowalks-challenge">Ch4mp vs Jooton - 10 Aerowalks Challenge</a>
              </td>
              <td class="w3-center">Xonotic</td>
            </tr>
            <tr>
              <td style="width:90%">
                  <a href="/xonotic/beef-brawl/ch4mp-vs-tommy-100-aerowalks-challenge">Ch4mp vs Tommy - 100 Aerowalks Challenge</a>
              </td>
              <td class="w3-center">Xonotic</td>
            </tr>
        </table
        
        <hr>

        <h2 class="w3-center">RJZ Tournaments</h2>
        <table class="w3-table w3-bordered tourneys">
          <thead>
            <tr>
              <th>Event</th>
              <th>Earned</th>
              <th>Place</th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td style="width:90%">
                  <a href="/diabotical/rjz-diabotical-aim-arena-cup" target="_blank">RJZ Diabotical Aim Arena Cup 2025</a>
                </td>
                <td class="w3-center">-</td>
                <td class="w3-center">
                  <i class="fas fa-trophy trophy-silver"></i>
                </td>
              </tr>
            <tr>
              <td style="width:90%">
                <a href="/xonotic/rjz-xonotic-duel-league-2024" target="_blank">RJZ Xonotic Duel League 2024</a>
              </td>
              <td class="w3-center">
                -
              </td>
              <td class="w3-center">
                  4th</td>
            </tr>
            
            <tr>
              <td>
                <a href="/xonotic/xonotic-duel-league-2023" target="_blank">RJZ Xonotic Duel League 2023</a>
              </td>
              <td class="w3-center">
                  $10
              </td>
              <td class="w3-center">
                  4th
              </td>
            </tr>
            
            <tr>
              <td>
                <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-13" target="_blank">ZS x RJZ Xonotic Duel Cup 13</a>
              </td>
              <td class="w3-center">
                $100</td>
              <td class="w3-center">
                <i class="fas fa-trophy trophy-silver"></i>
              </td>
            </tr>
            
            <tr>
              <td>
                <a href="/xonotic/zs-x-rjz-xonotic-2v2-tdm-cup-3" target="_blank">ZS x RJZ Xonotic 2v2 TDM Cup 3</a>
              </td>

              <td class="w3-center">
                $50</td>
              <td class="w3-center">
                <i class="fas fa-trophy trophy-bronze"></i>
              </td>
            </tr>
            
            <tr>
              <td>
                <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-8" target="_blank">ZS x RJZ Xonotic Duel Cup 8</a>
              </td>

              <td class="w3-center">
                $50</td>
              <td class="w3-center">
                <i class="fas fa-trophy trophy-bronze"></i>
              </td>
            </tr>
            
            <tr>
              <td>
                <a href="/xonotic/zs-x-rjz-xonotic-2v2-tdm-cup-1" target="_blank">ZS x RJZ Xonotic 2v2 TDM Cup 1</a>
              </td>

              <td class="w3-center">
                $50</td>
              <td class="w3-center">
                <i class="fas fa-trophy trophy-bronze"></i>
              </td>
            </tr>
            
            <tr>
              <td>
                <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-6" target="_blank">ZS x RJZ Xonotic Duel Cup 6</a>
              </td>

              <td class="w3-center">
                $75</td>
              <td class="w3-center">
                <i class="fas fa-trophy trophy-silver"></i>
              </td>
            </tr>
            
            <tr>
              <td>
                <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-3" target="_blank">ZS x RJZ Xonotic Duel Cup 3</a>
              </td>

              <td class="w3-center">
                $150</td>
              <td class="w3-center">
                4th
              </td>
            </tr>
            
            <tr>
              <td>
                <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-2" target="_blank">ZS x RJZ Xonotic Duel Cup 2</a>
              </td>

              <td class="w3-center">
                $75</td>
              <td class="w3-center">
                <i class="fas fa-trophy trophy-silver"></i>
              </td>
            </tr>
            
            <tr>
              <td>
                <a href="/xonotic/zs-x-rjz-xonotic-duel-cup-1" target="_blank">ZS x RJZ Xonotic Duel Cup 1</a>
              </td>

              <td class="w3-center">
                $50</td>
              <td class="w3-center">
                <i class="fas fa-trophy trophy-bronze"></i>
              </td>
            </tr>
            
            <tr>
              <td>
                <a class="item" href="https://rocketjump.zone/quake/2v2-tdm-cup-16/" target="_blank">RJZ Quake 2v2 TDM Cup 16</a>
              </td>

              <td class="w3-center">
                -</td>
              <td class="w3-center">
                <i class="fas fa-trophy trophy-bronze"></i>
              </td>
            </tr>
            
            <tr>
              <td>
                <a class="item" href="https://challonge.com/wqle36x5" target="_blank">RJZ Quake CTF Cup 1</a>
              </td>

              <td class="w3-center">
                  -</td>
              <td class="w3-center">
                <i class="fas fa-trophy trophy-bronze"></i>
              </td>
            </tr>
          </tbody>
        </table>
             
             <hr>
             
             <h2 class="w3-center">Other Tournaments</h2>

                    <h2>Xonotic</h2>
                    <p>
                      <a href="https://www.esportsearnings.com/tournaments/43522-zensports-xdc-1" target="_blank">ZenSports Xonotic Duel Cup</a>
                      <br>
                      <b>place:</b>
                      <i class="fas fa-trophy trophy-bronze"></i><br>
                    </p>
            
                    <p>
                      <a href="https://www.esportsearnings.com/tournaments/43321-zensports-1" target="_blank">ZenSports Mock Duel Cup #1</a>
                      <br>
                      <b>place:</b>
                      <i class="fas fa-trophy trophy-bronze"></i><br>
                    </p>
            
                  <p>
                    <a href="https://challonge.com/2020_elix_2" target="_blank">2020-ELIX #2: TWO-STAGE DUEL</a>
                    <br>
                    <b>place:</b>
                    <i class="fas fa-trophy trophy-silver"></i>
                  </p>
            
                  <p>
                    <a href="https://challonge.com/2020_elix_5" target="_blank">2020-eLix #5: Duel</a>
                    <br>
                    <b>place:</b>
                    <i class="fas fa-trophy trophy-bronze"></i><br>
                  </p>
            
                  <p>
                    <a href="https://challonge.com/2020_elix_6" target="_blank">2020-eLix #6: Duel</a>
                    <br>
                    <b>place:</b>
                    <i class="fas fa-trophy trophy-bronze"></i><br>
                  </p>
                  <p>
                    <a href="https://challonge.com/xonqc83" target="_blank">XQC #83 (4V4 TDM/DRAFT)</a>
                    <br>
                    <b>place:</b>
                    <i class="fas fa-trophy trophy-gold"></i><br>
                    <b>teammates:</b>
                    Islinn, sleet, Ploplo
                  </p>
            
                  <p>
                    <a href="https://challonge.com/xonqc89" target="_blank">XQC #89 (4V4 TDM/DRAFT)</a>
                    <br>
                    <b>place:</b>
                    <i class="fas fa-trophy trophy-gold"></i><br>
                    <b>teammates:</b>
                    Dodger, Pio, Diomedes
                  </p>

            
        <hr>
            
        <h2 class="w3-center">My Gear</h2>
        <p class="w3-center"><b>Mouse:</b> Zowie FK2-C (claw grip) &nbsp;&nbsp; <b>DPI / SENS:</b> 1600 / 2.234 &nbsp;&nbsp; <b>ACCEL:</b> 0<br>
            <b>Mousepad:</b> Zowie G-SR-SE ROUGE II<br>
            <b>MONITOR:</b> 144hz
        </p>
        
        <hr>
    
        <div class="sharethis-inline-reaction-buttons" style="margin-top:50px"></div>
        



</div>
<!-- end of w3-content-->