---
layout: player
title: "sewsw"

name: "sewsw"
full_name: "-"
org: "-"
desc: "-"
born: "-"
games: "Warfork, Diabotical"


discord_id: "seesh"
country_tag: "gb"
country_name: "UK"

---

<div class="w3-auto w3-container">
  <div class="w3-row">
    <div class="w3-col l2 m2">
      <h1><%= current_page.data.name %></h1>
      <%= partial "partials/player/sewsw/avatar" %>
      <div class="player-social">
          <a href="https://www.youtube.com/@se7052" target="_blank" rel="noopener noreferrer">
              <i class="fab fa-lg fa-youtube" aria-hidden="true"></i>
              <span class="sr-only">YouTube</span>
          </a>
          <a href="https://steamcommunity.com/id/rasheh/" target="_blank" rel="noopener noreferrer">
              <i class="fab fa-lg fa-steam" aria-hidden="true"></i>
              <span class="sr-only">Steam</span>
          </a>
          <div class="w3-tooltip mobile-tooltip w3-hide-small" style="display:inline">
              <i class="fab fa-lg fa-discord" aria-hidden="true"></i>
              <span class="sr-only">Discord</span>
              <span style="position:absolute;left:40px;bottom:-25px;width:200px" class="w3-text w3-tag w3-padding w3-animate-opacity w3-round"><%= current_page.data.discord_id %></span>
          </div>
      </div>
    </div>

    <div class="w3-col l6 m6 player-info">
      <div class="w3-panel player-desc">
          <p><%= current_page.data.desc %></p>
      </div>
    </div>

    <div class="w3-col l4 m4">
      <table class="w3-table player-details">
        <tr>
          <td style="border-top:0 !important"><b>Full Name:</b></td>
          <td style="border-top:0 !important"><b><%= current_page.data.full_name %></b></td>
        </tr>
        <tr>
          <td><b>Born:</b></td>
          <td><b><%= current_page.data.born %></b></td>
        </tr>
        <tr>
          <td><b>Country:</b></td>
          <td>
            <img src="../../images/flags/4x3/<%= current_page.data.country_tag %>.svg" width="25" height="25" alt="<%= current_page.data.country_name %>">
            &nbsp;<%= current_page.data.country_name %>
          </td>
        </tr
        <tr>
          <td><b>Games:</b></td>
          <td><b><%= current_page.data.games %></b></td>
        </tr>
        <tr>
          <td><b>Organization:</b></td>
          <td><%= current_page.data.org %></td>
        </tr>
        <tr>
          <td><b>Trophies:</b></td>
          <td>
            <i class="fas fa-trophy trophy-gold"></i> <b><sup><%= data.players.sewsw.trophies.gold %></sup></b>
            <i class="fas fa-trophy trophy-silver"></i> <b><sup><%= data.players.sewsw.trophies.silver %></sup></b>
            <i class="fas fa-trophy trophy-bronze"></i> <b><sup><%= data.players.sewsw.trophies.bronze %></sup></b>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <hr>

  <h2 class="w3-center">RJZ Tournaments</h2>
  <table class="w3-table w3-bordered tourneys">
    <thead>
      <tr>
        <th>Event</th>
        <th>Earned</th>
        <th>Place</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="width:90%">
          <a href="/diabotical/rjz-diabotical-aim-arena-cup" target="_blank">RJZ Diabotical Aim Arena Cup 2025</a>
        </td>
        <td class="w3-center">-</td>
        <td class="w3-center">
          <i class="fas fa-trophy trophy-gold"></i>
        </td>
      </tr>
  </table
  
  <hr>

  <div class="sharethis-inline-reaction-buttons" style="margin-top:50px"></div>    
      
</div>

<style>
  .player-info {
    margin-top: 60px;
  }

  .player-desc {
    background: #131316;
  }

  .tooltip-text {
    position: absolute;
    left: 40px;
    bottom: -25px;
    width: 200px;
  }

  .tab-navigation .tablink {
    cursor: pointer;
  }

  .city iframe {
    width: 100%;
    height: 640px;
  }

  .sharethis-inline-reaction-buttons {
    margin-top: 50px;
  }
</style>

